body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #49e4ff, #9ff4ff, #3bfaca, #8efff6);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
  filter: brightness(1.1) saturate(1.2);
}
/* Cria animação fluída para o fundo. */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  margin-top: 60px;
  padding: 30px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

h1 {
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  margin: 12px 0 4px 0;
  color: #444;
}

input {
  width: 100%;
  max-width: 300px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: 0.2s;
}

input:focus {
  border-color: #4c7df0;
  box-shadow: 0 0 0 3px rgba(76, 125, 240, 0.2);
  outline: none;
}

button {
  margin-top: 20px;
  padding: 10px 25px;
  background: #4c7df0;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

button:hover {
  background: #3b68d3;
}

#valor {
  margin-top: 25px;
  font-weight: 500;
  color: #222;
}

* {
  box-sizing: border-box;
}

select {
  width: 100%;
  max-width: 300px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid ccc;
  font-size: 16px;
  margin: 12px 0;
}

#Health {
  width: 700px;
  flex-direction: column;
}

.btn-voltar {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #0d6efd;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-voltar:hover {
  background-color: #0b5ed7;
}
